<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/inicial.css') }}">

    

    <title>Pesquisa Cardápios</title>

</head>
<body>
    <div class="mensagens">
    {% with messages = get_flashed_messages() %}					
        {% if messages %} 					
            <ul id="messages" class="list-unstyled">					
            {% for message in messages %}					
                <li class="alert alert-success">{{ message }}</li>					
            {% endfor %}					
            </ul>					
        {% endif %}					
    {% endwith %}
    </div>

<br><br> 
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="{{ url_for('static', filename= 'imagens/icone.jpg') }}" alt="icone">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a class="nav-link" href="/inicial">Restaurantes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cardapio">Cardápios</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/prdenermatos/">Sobre nós</a></li>
                </ul>
            </div>
            <div>
                <button class="logout-button"><a href="/logout">Sair</a></button>
            </div>

            <div class="menu-mobile-icon">
                <button onclick="menuShow()"><img class="icon" src="{{ url_for('static', filename= 'imagens/menu-mobile.svg') }}" alt="menu-mobile"></button>
            </div>
        </nav>

        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a class="nav-link" href="/inicial">Restaurantes</a></li>
                <li class="nav-item"><a class="nav-link" href="/cardapio">Cardápios</a></li>
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/prdenermatos/">Sobre nós</a></li>
            </ul>
            <div>
                <button class="logout-button"><a href="/logout">Sair</a></button>
            </div>
        </div>
    </header>


    <main>
        <div class="pagina-detalhes">
            <div class="apresentacao">
                <h1><strong>{{restaurante.restaurante}}</strong></h1>
                <p>{{restaurante.rua_numero}} | {{restaurante.bairro}} | <span>{{restaurante.categoria}}</span></p>
            </div>
            <center>
                <div class="banner">
                    <img src="../static/imagens/restaurantes/{{restaurante.descricao_foto}}" alt="banner restaurante">
                </div>
            </center>
            <div class="sub-tilte">
                <h2>Cardápio Disponível</h2>
               
            </div>
            <div class="conteiner">
                <main class="cards">
                    {% for prato in cardapio %}
                    <section class="card">
                        <img src="../static/imagens/cardapio/{{prato.descricao_foto}}" alt="card cardápio">
                        <h3>{{prato.prato}}</h3>
                        <h4><em>{{prato.restaurante}}</em></h4>
                        <p>{{prato.descricao}}</p>
                        <h5><strong>R${{prato.preco}}</strong></h5><br>
                        <button>Comprar</button><br>
                    </section>
                    {% endfor %}
        
                </main>
            </div>
        </div>






    </main>














    <script>
        function menuShow() {
            let menuMobile = document.querySelector('.mobile-menu');
            if (menuMobile.classList.contains('open')) {
                menuMobile.classList.remove('open');
                document.querySelector('.icon').src = "{{ url_for('static', filename= 'imagens/menu-mobile.svg') }}";
            } else {
                menuMobile.classList.add('open');
                document.querySelector('.icon').src = "{{ url_for('static', filename= 'imagens/close-menu-mobile.svg') }}";
            }
        }
    </script>
    
    </body>
    </html>